<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".DeepFashionApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeepFashionClassifier"
        tools:targetApi="31">

        <activity
            android:name=".MainContainerActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DeepFashionClassifier">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DeepFashionClassifier" />

        <activity
            android:name=".CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DeepFashionClassifier" />

        <activity
            android:name=".ResultActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DeepFashionClassifier" />

        <activity
            android:name=".FullImageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DeepFashionClassifier" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DeepFashionClassifier"
            android:label="@string/settings" />

        <activity
            android:name=".CategoryDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DeepFashionClassifier" />

        <activity
            android:name=".BatchClassifyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DeepFashionClassifier" />

        <activity
            android:name=".BatchResultActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DeepFashionClassifier" />

        <activity
            android:name=".ImageCropActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DeepFashionClassifier" />

        <activity
            android:name=".ImageEnhanceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DeepFashionClassifier" />

        <activity
            android:name=".StatisticsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DeepFashionClassifier" />

        <activity
            android:name=".FavoritesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DeepFashionClassifier" />

        <activity
            android:name=".CompareActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DeepFashionClassifier" />

        <activity
            android:name=".ExportActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DeepFashionClassifier" />

        <activity
            android:name=".OnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DeepFashionClassifier" />

        <activity
            android:name=".HelpCenterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DeepFashionClassifier" />

        <activity
            android:name=".ChangelogActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DeepFashionClassifier" />

        <activity
            android:name=".ModelInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DeepFashionClassifier" />

        <activity
            android:name=".LogViewerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DeepFashionClassifier" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
